body {
    background-color: lightskyblue;
    color: darkslateblue;
    text-align: center;
    font-size: 5em;
    transition: all 400ms ease;
}

body.alternate {
    background-color: darkslateblue;
    color: lightskyblue;
}